<a href="https://colab.research.google.com/github/arianacolque27/tps-pii-colab-ari/blob/main/diccionario_pr_ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Listas de alumnos
estudiantes_5d = [
   ("Alurralde, Solange Stefania","D","02/04/2007"),
   ("Alvarado, Ludmila Del Milagro","D","06/09/2006"),
   ("Angel, Camila Juliana","D","07/03/2007"),
   ("Arenas, Lucas Gabriel","D","26/06/2007"),
   ("Caseres, Maria Antonia","D","01/07/2006"),
   ("Castillo, Paulina Milagros","D","01/06/2007"),
   ("Correa Segovia, Hugo Mariano","D","04/12/2006"),
   ("D Elia, Alvaro Tadeo","D","27/08/2006"),
   ("Flores, Victoria Agustina","D","12/12/2006"),
   ("Geronimo Soriano, Lizzie Amaya","D","20/01/2007"),
   ("GUZMAN, ANGÉLICA MORENA","D","11/04/2007"),
   ("Guzman, Jazmin Esmeralda Belen","D","31/07/2006"),
   ("Jaime, Anita Maria Belen","D","19/04/2007"),
   ("Lacour Polo, Nazarena","D","19/12/2005"),
   ("Lascano Guanca, Marcelo Fabricio","D","17/02/2006"),
   ("Lezcano, Celia Morena","D","01/07/2005"),
   ("Martinez, Tomas Andres","D","22/03/2007"),
   ("PORTELLA VALDIVIA, PEDRO FRANCISCO","D","24/01/2007"),
   ("Retamal Cisneros, Zacarias Josue","D","24/02/2007"),
   ("Rosales, Francisco Gabriel","D","14/11/2006"),
   ("Salem Barba, Mahia","D","14/10/2005"),
   ("Soto Camara, Agustin Ignacio","D","07/11/2005"),
   ("Villalba, Irina","D","09/09/2006"),
   ("Voltolini, Emanuel Tobias","D","17/09/2006"),
   ("Zalazar, Santino Stefano","D","30/09/2006")
]

estudiantes_5c=[
    ("ABUD LASPIUR, LOURDES MARIEL","C","05/12/2006"),
    ("Amador, Luana Micaela","C","09/12/2006"),
    ("Anaquin, Leonardo Ezequiel","C","06/09/2005"),
    ("Araoz Sanchez, Lautaro Nahuel","C","28/12/2005"),
    ("Argañaraz, Agostina Abril","C","11/10/2006"),
    ("Barrera, Matias Ezequiel","C","27/02/2007"),
    ("Barrozo Vedia, Joaquin Nicolas","C","15/04/2006"),
    ("Bettinelli, Valentino","C","12/07/2006"),
    ("Bracamonte Martinez, Salvador","C","02/11/2005"),
    ("Colque Rivero, Ariana Zoe Del Valle","C","27/12/2006"),
    ("Diaz, Dulce Maitena","C","11/12/2006"),
    ("FIGUEROA, SANTINO JOSUE","C","12/05/2007"),
    ("Flores Cardozo, Agustina Tiara","C","18/03/2006"),
    ("Gallo, Octavio Ismael","C","04/08/2006"),
    ("Galvan, Lourdes Yamila","C","19/08/2005"),
    ("Giangreco, Vitto Tomasso","C","21/03/2007"),
    ("Grancara, Martina Luna","C","15/12/2006"),
    ("Guanca, Sara Elizabeth","C","17/01/2007"),
    ("Lopez, Victoria Constanza","C","12/11/2007"),
    ("Mamani Garrido, Rosario Agostina","C","24/10/2006"),
    ("Marinaro, Martin Ezequiel","C","03/11/2006"),
    ("Merluzzi Dagum, Ignacio","C","22/12/2005"),
    ("Messina, Martina","C","13/07/2005"),
    ("RASUK, KARIM", "C","13/07/2007"),
    ("Rios, Lucia Magali","C","22/09/2006"),
    ("Sanchez Flores, Matías Agustín","C","15/02/2007"),
    ("Scarano, Renato Marcelo","C","06/12/2006"),
    ("Sierra, Lucas Mauricio","C","03/04/2005"),
    ("Tapia, Martin Gabriel","C","30/05/2006"),
    ("Vilte, Mia Antonella Alondra","C","10/09/2005"),
    ("Virgillito, Katya Milena","C","19/06/2007")
]

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Reemplaza todos los valores del nombre por los que obtengas del método title(). De esta manera las listas quedaran con los datos más homogéneos.

In [2]:
estudiantes = []
for i in range(len(estudiantes_5c)):
  nombre, divi, fecha_nac=estudiantes_5c[i]
  estudiantes.append((nombre.title(),divi,fecha_nac))
for i in range(len(estudiantes_5d)):
  nombre, divi, fecha_nac=estudiantes_5c[i]
  estudiantes.append((nombre.title(),divi, fecha_nac))
for estudiante in estudiantes:
  print(estudiante)

('Abud Laspiur, Lourdes Mariel', 'C', '05/12/2006')
('Amador, Luana Micaela', 'C', '09/12/2006')
('Anaquin, Leonardo Ezequiel', 'C', '06/09/2005')
('Araoz Sanchez, Lautaro Nahuel', 'C', '28/12/2005')
('Argañaraz, Agostina Abril', 'C', '11/10/2006')
('Barrera, Matias Ezequiel', 'C', '27/02/2007')
('Barrozo Vedia, Joaquin Nicolas', 'C', '15/04/2006')
('Bettinelli, Valentino', 'C', '12/07/2006')
('Bracamonte Martinez, Salvador', 'C', '02/11/2005')
('Colque Rivero, Ariana Zoe Del Valle', 'C', '27/12/2006')
('Diaz, Dulce Maitena', 'C', '11/12/2006')
('Figueroa, Santino Josue', 'C', '12/05/2007')
('Flores Cardozo, Agustina Tiara', 'C', '18/03/2006')
('Gallo, Octavio Ismael', 'C', '04/08/2006')
('Galvan, Lourdes Yamila', 'C', '19/08/2005')
('Giangreco, Vitto Tomasso', 'C', '21/03/2007')
('Grancara, Martina Luna', 'C', '15/12/2006')
('Guanca, Sara Elizabeth', 'C', '17/01/2007')
('Lopez, Victoria Constanza', 'C', '12/11/2007')
('Mamani Garrido, Rosario Agostina', 'C', '24/10/2006')
('Marinaro, Martin Ezequiel', 'C', '03/11/2006')
('Merluzzi Dagum, Ignacio', 'C', '22/12/2005')
('Messina, Martina', 'C', '13/07/2005')
('Rasuk, Karim', 'C', '13/07/2007')
('Rios, Lucia Magali', 'C', '22/09/2006')
('Sanchez Flores, Matías Agustín', 'C', '15/02/2007')
('Scarano, Renato Marcelo', 'C', '06/12/2006')
('Sierra, Lucas Mauricio', 'C', '03/04/2005')
('Tapia, Martin Gabriel', 'C', '30/05/2006')
('Vilte, Mia Antonella Alondra', 'C', '10/09/2005')
('Virgillito, Katya Milena', 'C', '19/06/2007')
('Abud Laspiur, Lourdes Mariel', 'C', '05/12/2006')
('Amador, Luana Micaela', 'C', '09/12/2006')
('Anaquin, Leonardo Ezequiel', 'C', '06/09/2005')
('Araoz Sanchez, Lautaro Nahuel', 'C', '28/12/2005')
('Argañaraz, Agostina Abril', 'C', '11/10/2006')
('Barrera, Matias Ezequiel', 'C', '27/02/2007')
('Barrozo Vedia, Joaquin Nicolas', 'C', '15/04/2006')
('Bettinelli, Valentino', 'C', '12/07/2006')
('Bracamonte Martinez, Salvador', 'C', '02/11/2005')
('Colque Rivero, Ariana Zoe Del Valle', 'C', '27/12/2006')
('Diaz, Dulce Maitena', 'C', '11/12/2006')
('Figueroa, Santino Josue', 'C', '12/05/2007')
('Flores Cardozo, Agustina Tiara', 'C', '18/03/2006')
('Gallo, Octavio Ismael', 'C', '04/08/2006')
('Galvan, Lourdes Yamila', 'C', '19/08/2005')
('Giangreco, Vitto Tomasso', 'C', '21/03/2007')
('Grancara, Martina Luna', 'C', '15/12/2006')
('Guanca, Sara Elizabeth', 'C', '17/01/2007')
('Lopez, Victoria Constanza', 'C', '12/11/2007')
('Mamani Garrido, Rosario Agostina', 'C', '24/10/2006')
('Marinaro, Martin Ezequiel', 'C', '03/11/2006')
('Merluzzi Dagum, Ignacio', 'C', '22/12/2005')
('Messina, Martina', 'C', '13/07/2005')
('Rasuk, Karim', 'C', '13/07/2007')
('Rios, Lucia Magali', 'C', '22/09/2006')

2. Genera una lista de diccionarios con los datos de las listas, donde las claves de los mismos serán:
- "apellido"
- "nombre"
- "curso"
- "division"
- "feha_de_nacimiento"

Muestra la información generada.

In [3]:
lista_dict=[]
for estudiante in estudiantes:
   nombre_completo, division, fecha_nacimiento=estudiante
   apellido, nombre=nombre_completo.split(",")
   nombre=nombre.strip()
   diccionario=[]
   diccionario["nombre"]=nombre
   diccionario["apellido"] = apellido
   diccionario["division"]=division
   diccionario["curso"]=5
   diccionario["fecha_nacimiento"]=fecha_nacimiento
   lista_dict.append(diccionario)
for estudiante in lista_dict:
   print(estudiante)

TypeError: list indices must be integers or slices, not str

3. Genera un diccionario en python, en donde la clave sea cada nombre que aparece en las listas y el valor será la cantidad de veces que se encuentra el mismo.
Para este punto es posible fusionar ambas listas en una sola, recordá que hay un método que realiza esta acción.

Mostrá la informacion generada

In [4]:
lista_nombres= []
for estudiante in estudiantes:
  nombre_completo= estudiante [0].replace(",","").split()
  lista_nombres.extend(nombre_completo)
ocurrencias_nombres= {}
for nombre in lista_nombres:
  if nombre in ocurrencias_nombres.keys():
   ocurrencias_nombres [nombre] += 1
  else:
   ocurrencias_nombres [nombre] = 1
for nombre,ocurrencia in ocurrencias_nombres.items():
   print(f" El nombre {nombre} aparecio {ocurrencia}")

 El nombre Abud aparecio 2
 El nombre Laspiur aparecio 2
 El nombre Lourdes aparecio 4
 El nombre Mariel aparecio 2
 El nombre Amador aparecio 2
 El nombre Luana aparecio 2
 El nombre Micaela aparecio 2
 El nombre Anaquin aparecio 2
 El nombre Leonardo aparecio 2
 El nombre Ezequiel aparecio 6
 El nombre Araoz aparecio 2
 El nombre Sanchez aparecio 3
 El nombre Lautaro aparecio 2
 El nombre Nahuel aparecio 2
 El nombre Argañaraz aparecio 2
 El nombre Agostina aparecio 4
 El nombre Abril aparecio 2
 El nombre Barrera aparecio 2
 El nombre Matias aparecio 2
 El nombre Barrozo aparecio 2
 El nombre Vedia aparecio 2
 El nombre Joaquin aparecio 2
 El nombre Nicolas aparecio 2
 El nombre Bettinelli aparecio 2
 El nombre Valentino aparecio 2
 El nombre Bracamonte aparecio 2
 El nombre Martinez aparecio 2
 El nombre Salvador aparecio 2
 El nombre Colque aparecio 2
 El nombre Rivero aparecio 2
 El nombre Ariana aparecio 2
 El nombre Zoe aparecio 2
 El nombre Del aparecio 2
 El nombre Valle aparecio 2
 El nombre Diaz aparecio 2
 El nombre Dulce aparecio 2
 El nombre Maitena aparecio 2
 El nombre Figueroa aparecio 2
 El nombre Santino aparecio 2
 El nombre Josue aparecio 2
 El nombre Flores aparecio 3
 El nombre Cardozo aparecio 2
 El nombre Agustina aparecio 2
 El nombre Tiara aparecio 2
 El nombre Gallo aparecio 2
 El nombre Octavio aparecio 2
 El nombre Ismael aparecio 2
 El nombre Galvan aparecio 2
 El nombre Yamila aparecio 2
 El nombre Giangreco aparecio 2
 El nombre Vitto aparecio 2
 El nombre Tomasso aparecio 2
 El nombre Grancara aparecio 2
 El nombre Martina aparecio 4
 El nombre Luna aparecio 2
 El nombre Guanca aparecio 2
 El nombre Sara aparecio 2
 El nombre Elizabeth aparecio 2
 El nombre Lopez aparecio 2
 El nombre Victoria aparecio 2
 El nombre Constanza aparecio 2
 El nombre Mamani aparecio 2
 El nombre Garrido aparecio 2
 El nombre Rosario aparecio 2
 El nombre Marinaro aparecio 2
 El nombre Martin aparecio 3
 El nombre Merluzzi aparecio 2
 El nombre Dagum aparecio 2
 El nombre Ignacio aparecio 2
 El nombre Messina aparecio 2
 El nombre Rasuk aparecio 2
 El nombre Karim aparecio 2
 El nombre Rios aparecio 2
 El nombre Lucia aparecio 2
 El nombre Magali aparecio 2
 El nombre Matías aparecio 1
 El nombre Agustín aparecio 1
 El nombre Scarano aparecio 1
 El nombre Renato aparecio 1
 El nombre Marcelo aparecio 1
 El nombre Sierra aparecio 1
 El nombre Lucas aparecio 1
 El nombre Mauricio aparecio 1
 El nombre Tapia aparecio 1
 El nombre Gabriel aparecio 1
 El nombre Vilte aparecio 1
 El nombre Mia aparecio 1
 El nombre Antonella aparecio 1
 El nombre Alondra aparecio 1
 El nombre Virgillito aparecio 1
 El nombre Katya aparecio 1
 El nombre Milena aparecio 1

4. Genera un diccionario en python, en donde la clave sea cada apellido que aparece en las listas y el valor será la cantidad de veces que se encuentra el mismo.
Para este punto es posible fusionar ambas listas en una sola, recordá que hay un método que realiza esta acción.

In [5]:
lista_apellidos= []
for estudiante in estudiantes:
  apellido_completo= estudiante [0].replace(",","").split()
  lista_apellidos.extend(apellido_completo)

ocurrencias_apellidos= {}
for apellido in lista_apellidos:
  if apellido in ocurrencias_apellidos.keys():
   ocurrencias_apellidos [apellido] += 1
  else:
   ocurrencias_apellidos [apellido] = 1
for apellido,ocurrencia in ocurrencias_apellidos.items():
  print(f" El apellido {apellido} aparecio {ocurrencia}")

 El apellido Abud aparecio 2
 El apellido Laspiur aparecio 2
 El apellido Lourdes aparecio 4
 El apellido Mariel aparecio 2
 El apellido Amador aparecio 2
 El apellido Luana aparecio 2
 El apellido Micaela aparecio 2
 El apellido Anaquin aparecio 2
 El apellido Leonardo aparecio 2
 El apellido Ezequiel aparecio 6
 El apellido Araoz aparecio 2
 El apellido Sanchez aparecio 3
 El apellido Lautaro aparecio 2
 El apellido Nahuel aparecio 2
 El apellido Argañaraz aparecio 2
 El apellido Agostina aparecio 4
 El apellido Abril aparecio 2
 El apellido Barrera aparecio 2
 El apellido Matias aparecio 2
 El apellido Barrozo aparecio 2
 El apellido Vedia aparecio 2
 El apellido Joaquin aparecio 2
 El apellido Nicolas aparecio 2
 El apellido Bettinelli aparecio 2
 El apellido Valentino aparecio 2
 El apellido Bracamonte aparecio 2
 El apellido Martinez aparecio 2
 El apellido Salvador aparecio 2
 El apellido Colque aparecio 2
 El apellido Rivero aparecio 2
 El apellido Ariana aparecio 2
 El apellido Zoe aparecio 2
 El apellido Del aparecio 2
 El apellido Valle aparecio 2
 El apellido Diaz aparecio 2
 El apellido Dulce aparecio 2
 El apellido Maitena aparecio 2
 El apellido Figueroa aparecio 2
 El apellido Santino aparecio 2
 El apellido Josue aparecio 2
 El apellido Flores aparecio 3
 El apellido Cardozo aparecio 2
 El apellido Agustina aparecio 2
 El apellido Tiara aparecio 2
 El apellido Gallo aparecio 2
 El apellido Octavio aparecio 2
 El apellido Ismael aparecio 2
 El apellido Galvan aparecio 2
 El apellido Yamila aparecio 2
 El apellido Giangreco aparecio 2
 El apellido Vitto aparecio 2
 El apellido Tomasso aparecio 2
 El apellido Grancara aparecio 2
 El apellido Martina aparecio 4
 El apellido Luna aparecio 2
 El apellido Guanca aparecio 2
 El apellido Sara aparecio 2
 El apellido Elizabeth aparecio 2
 El apellido Lopez aparecio 2
 El apellido Victoria aparecio 2
 El apellido Constanza aparecio 2
 El apellido Mamani aparecio 2
 El apellido Garrido aparecio 2
 El apellido Rosario aparecio 2
 El apellido Marinaro aparecio 2
 El apellido Martin aparecio 3
 El apellido Merluzzi aparecio 2
 El apellido Dagum aparecio 2
 El apellido Ignacio aparecio 2
 El apellido Messina aparecio 2
 El apellido Rasuk aparecio 2
 El apellido Karim aparecio 2
 El apellido Rios aparecio 2
 El apellido Lucia aparecio 2
 El apellido Magali aparecio 2
 El apellido Matías aparecio 1
 El apellido Agustín aparecio 1
 El apellido Scarano aparecio 1
 El apellido Renato aparecio 1
 El apellido Marcelo aparecio 1
 El apellido Sierra aparecio 1
 El apellido Lucas aparecio 1
 El apellido Mauricio aparecio 1
 El apellido Tapia aparecio 1
 El apellido Gabriel aparecio 1
 El apellido Vilte aparecio 1
 El apellido Mia aparecio 1
 El apellido Antonella aparecio 1
 El apellido Alondra aparecio 1
 El apellido Virgillito aparecio 1
 El apellido Katya aparecio 1
 El apellido Milena aparecio 1

5. Solicita al usuario que ingrese un apellido y muestra  a todos los estudiantes con ese apellido.

In [6]:
estudiantes= []
apellido_ingresado = input("Por favor, ingresa el apellido: ")
estudiantes_filtrados = [est for est in estudiantes if est["apellido"] == apellido_ingresado]

if estudiantes_filtrados:
    print(f"Estudiantes con el apellido {apellido_ingresado}:")
    for estudiante in estudiantes_filtrados:
        print(f"apellido: {estudiante['apellido']}, Edad: {estudiante['edad']}")
else:
    print(f"No se encontraron estudiantes con el apellido")

Por favor, ingresa el apellido: Vilte
No se encontraron estudiantes con el apellido

6. Solicita al usuario que ingrese un nombre y muestra a todos los estudiantes con el nombre ingresado.

In [8]:
estudiantes= []
nombre_ingresado = input("Por favor, ingresa el nombre: ")
estudiantes_filtrados = [est for est in estudiantes if est["nombre"] == nombre_ingresado]

if estudiantes_filtrados:
    print(f"Estudiantes con el nombre {nombre_ingresado}:")
    for estudiante in estudiantes_filtrados:
        print(f"Nombre: {estudiante['nombre']}, Edad: {estudiante['edad']}")
else:
    print(f"No se encontraron estudiantes con el nombre {nombre_ingresado})

SyntaxError: unterminated string literal (detected at line 10) (<ipython-input-8-f3ad2046edf7>, line 10)

In [9]:
lista_dict= []
nombre_ingresado = input("Por favor, ingresa el nombre: ")
for nombre_ingresado in lista_dict:
    print("nombre {lista_dict}")

Por favor, ingresa el nombre: Ariana

In [16]:
estudiantes = []
nombre_ingresado = input("Ingresa un nombre: ")
estudiantes_filtrados = (estudiante for estudiante in estudiantes)
if estudiante["nombre"] == [nombre_ingresado]:

if estudiantes_filtrados:
    print("Estudiantes con el nombre", nombre_ingresado, ":")
    for estudiante in estudiantes_filtrados:
        print(estudiante)
else:
    print("No se encontraron estudiantes con el nombre", nombre_ingresado)

IndentationError: unexpected indent (<ipython-input-16-9ae6a3b0fcca>, line 4)

7. Busca el diccionario con tu información dentro de la lista y cámbiate de división, de tal manera que si estas en 5C, con el cambio quedes en 5D y viceversa.

In [17]:
num = int(input("Ingrese un número: "))
salida = "es par" if num % 2 == 0 else "es impar"
print(salida)

Ingrese un número: 7
es impar

In [18]:

nombre = input("ingrese su nombre: ").title()
apellido = input("ingrese su apellido: ").title()
i = 0
while i<len(lista_dict):
  if lista_dict["apellido"] == apellido and lista_dict["nombre"] == nombre:
    break
  else:
    i+=1
if i<len(lista_dict):
  lista_dict[i]["division"] = "C" if lista_dict[i]["division"] == "D" else "D"

  print(lista_dict)

ingrese su nombre: Ariana
ingrese su apellido: Colque

8. Ordenar la lista alfabeticamente por nombre. Ascendente y descendentemente. Para elegir como ordenarla, mostrar un menú donde el usuario podrá decidir como quiere ver la salida.

In [19]:
orden-input("Elija como ordenar la lista: \nA. Ascendente InD. Descendente").upper()
if orden == "A":
  lista_dict.sort(key=lambda x: x["nombre"])
  for estudiante in lista_dict:
    print(estudiante)
elif orden == "D":
  lista_dict.sort(key=lambda x: x["nombre"],reverse=True)
  for estudiante in lista_dict:
    print (estudiante)
else:
  print("Opcion invalida")
  orden=input("Elija como ordenar la lista: InA. Ascendente InD: Descendente")

NameError: name 'orden' is not defined

9. Ordenar la lista alfabeticamente por apellido. Ascendente y descendentemente. Para elegir como ordenarla, mostrar un menú donde el usuario podrá decidir como quiere ver la salida.

In [20]:
orden_2=input("Elija como ordenar la lista: \nA. Ascendente por apellido \nD. Descendente por apellido ").upper()
if orden_2 == "A":
  lista_dict.sort(key,=lambda x: x["apellido"])
  for estudiante in lista_dict:
    print(estudiante)
elif orden_2 == "D":
  lista_dict.sort(key=lambda x: x["apellido"),reverse=True)
  for estudiante in lista_dict:
    print(estudiante)
else:
  print("Opcion invalida")

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (<ipython-input-20-17974fe9d8b6>, line 7)

10. Ordena la lista por fecha de nacimiento, de manera ascendente y descendente.

In [21]:
from datetime import datetime
def convertir_fecha(fecha_str):
    return datetime.strptime(fecha_str,"Xd/Xn/Xy").date()
orden_4=input("Elija como ordenar la lista: \nA. Ascendente por fecha de nacimiento \nD. Descendiente por fecha de nacimiento").upper()
if orden_4 == "A":
  lista_dict.sort(key=lambda x: convertir_fecha(x["fecha_nacimiento"]))
  for estudiante in lista_dict:
    print (estudiante)
elif orden_4 == "D":
  lista_dict.sort(key=lamda x:convertir_fecha(x["fecha_nacimiento"])),reverse=True)
  for estudiante in lista_dict:
    print(estudiante)
else:
  print("opción invalida")
  orden_4= input("elija como ordenar la lista: \nA. Ascendente por facha de nacimiento \nD. Descendente por fecha de nacimiento.").upper()

SyntaxError: unmatched ')' (<ipython-input-21-5973c3cd221b>, line 10)

11. Generar una estuctura de diccionario anidado en donde la clave sea el nombre del estudiante y el valor sea un diccionario con los datos del mismo, de la siguiente manera:




```python
estudiantes = {
    "Juan Perez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "15/03/2006"
    },
    "Maria Gomez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "22/07/2006"
    },
    "Carlos Lopez": {
        "año": 2024,
        "división": "5D",
        "fecha de nacimiento": "05/10/2006"
    }
}
```

In [22]:
estudiantes_2 = {}
for estudiante in lista_dict:
  nombre_completo= estudiante.get('nombre','') + ' ' + estudiante.get("apellido", "")
division, curso, fecha_nacimiento=estudiante.get("division"), estudiante.get("curso"), estudiante.get("fecha_nacimiento")
  dic={}
  dic["division"]=curso, division
  dic["fecha_nacimiento"]=fecha_nacimiento
  dic["año"]=2024
  estudiantes_2[nombre_completo) = dic
for estudiante, valor in estudiantes_2.items():
  print(estudiante, valor)

IndentationError: unexpected indent (<ipython-input-22-4ba3ba393976>, line 5)